absl-py==0.9.0
aioice==0.7.5
aiortc==1.2.0
alabaster==0.7.12
altair==4.1.0
astor==0.8.1
astroid==2.4.2
astunparse==1.6.3
atomicwrites==1.4.0
attrs==19.3.0
av==8.0.3
Babel==2.8.0
backcall==0.2.0
base58==2.1.0
beautifulsoup4==4.9.3
bleach==3.1.5
blinker==1.4
blis==0.4.1
boto==2.49.0
boto3==1.14.12
botocore==1.17.12
Brotli==1.0.9
bs4==0.0.1
cachetools==4.1.0
catalogue==1.0.0
certifi==2020.6.20
cffi==1.14.0
chardet==3.0.4
click==7.1.2
cloudpickle==1.4.1
colorama==0.4.3
colour==0.1.5
combo==0.1.0
crc32c==2.2
cryptography==3.4.7
cycler==0.10.0
cymem==2.0.3
decorator==4.4.2
deepdish==0.3.6
defusedxml==0.6.0
Distance==0.1.3
dnspython==2.1.0
docutils==0.16
entrypoints==0.3
Flask==1.1.2
Flask-Compress==1.7.0
Flask-Cors==3.0.8
gast==0.3.3
gitdb==4.0.7
GitPython==3.1.14
google-api-core==1.22.2
google-auth==1.21.1
google-auth-oauthlib==0.4.1
google-cloud-speech==1.3.2
google-pasta==0.2.0
googleapis-common-protos==1.52.0
grpcio==1.30.0
h5py==2.10.0
HeapDict==1.0.1
idna==2.10
imagecodecs==2020.5.30
imageio==2.8.0
imagesize==1.2.0
imbalanced-learn==0.7.0
imblearn==0.0
importlib-metadata==1.7.0
ipykernel==5.3.0
ipython==7.16.1
ipython-genutils==0.2.0
ipywidgets==7.6.3
isort==4.3.21
itsdangerous==1.1.0
jedi==0.17.1
Jinja2==2.11.2
jmespath==0.10.0
joblib==0.16.0
jsonschema==3.2.0
jupyter-client==6.1.3
jupyter-core==4.6.3
jupyterlab-widgets==1.0.0
Keras==2.4.3
Keras-Preprocessing==1.1.2
keyboard==0.13.5
keyring==21.2.1
kiwisolver==1.2.0
kmodes==0.10.2
knnimpute==0.1.0
lazy-object-proxy==1.4.3
lightfm==1.15
lightgbm==3.0.0
lime==0.2.0.1
llvmlite==0.33.0
Markdown==3.2.2
MarkupSafe==1.1.1
matplotlib==3.2.2
mccabe==0.6.1
mistune==0.8.4
mkl-fft==1.0.15
mkl-random==1.1.0
mkl-service==2.3.0
mock==4.0.2
more-itertools==8.4.0
mpmath==1.1.0
murmurhash==1.0.2
mysqlclient==1.4.6
nbconvert==5.6.1
nbformat==5.0.7
netifaces==0.10.9
networkx==2.4
nltk==3.5
notebook==6.0.3
numba==0.50.1
numexpr==2.7.1
numpy==1.18.1
numpydoc==1.0.0
oauthlib==3.1.0
opencv-python==4.5.1.48
opt-einsum==3.2.1
packaging==20.4
pandas==1.0.5
pandocfilters==1.4.2
parso==0.7.0
patsy==0.5.1
pickleshare==0.7.5
Pillow==7.1.2
plac==1.1.3
pluggy==0.13.1
preshed==3.0.2
prometheus-client==0.8.0
prompt-toolkit==3.0.5
protobuf==3.12.2
psutil==5.7.0
py==1.9.0
pyarrow==3.0.0
pyasn1==0.4.8
pyasn1-modules==0.2.8
pycodestyle==2.6.0
pycparser==2.20
pydeck==0.6.1
pydot==1.4.2
pyee==8.1.0
pyflakes==2.2.0
Pygments==2.6.1
pylibsrtp==0.6.8
pylint==2.5.3
pymer4==0.7.0
pyod==0.8.0
pyparsing==2.4.7
PyQt5==5.12.3
PyQt5-sip==12.8.0
PyQtWebEngine==5.12.1
pyrsistent==0.16.0
pytest==5.4.3
python-dateutil==2.8.1
pytz==2020.1
PyWavelets==1.1.1
pywin32==228
pywin32-ctypes==0.2.0
pywinpty==0.5.7
PyYAML==5.3.1
pyzmq==19.0.1
QtAwesome==0.7.2
qtconsole==4.7.5
QtPy==1.9.0
regex==2020.6.8
requests==2.24.0
requests-oauthlib==1.3.0
rope==0.17.0
rpy2==3.3.4
rsa==3.4.2
s3transfer==0.3.3
scikit-image==0.15.0
scikit-learn==0.23.2
scipy==1.4.1
seaborn==0.10.1
Send2Trash==1.5.0
shap==0.32.1
six==1.14.0
sklearn-lmer==0.0.5
smart-open==2.0.0
smmap==4.0.0
snowballstemmer==1.9.0
sortedcollections==1.1.2
sortedcontainers==2.1.0
soupsieve==1.8
spacy==2.2.4
Sphinx==2.1.2
sphinxcontrib-applehelp==1.0.1
sphinxcontrib-devhelp==1.0.1
sphinxcontrib-htmlhelp==1.0.2
sphinxcontrib-jsmath==1.0.1
sphinxcontrib-qthelp==1.0.2
sphinxcontrib-serializinghtml==1.1.3
sphinxcontrib-websupport==1.1.2
spyder==3.3.6
spyder-kernels==0.5.1
SQLAlchemy==1.3.5
srsly==1.0.2
statsmodels==0.10.0
streamlit==0.79.0
streamlit-drawable-canvas==0.6.0
streamlit-webrtc==0.7.2
suod==0.0.4
sympy==1.4
tables==3.5.2
tbb==2019.0
tblib==1.4.0
tensorboard==2.4.1
tensorboard-plugin-wit==1.6.0.post3
tensorflow==2.3.0
tensorflow-addons==0.12.0
tensorflow-estimator==2.3.0
tensorflow-gpu-estimator==2.2.0
tensorflow-probability==0.10.0
termcolor==1.1.0
terminado==0.8.2
testpath==0.4.2
thinc==7.4.0
threadpoolctl==2.0.0
tifffile==2020.5.11
toml==0.10.1
toolz==0.10.0
tornado==6.0.3
tqdm==4.32.1
traitlets==4.3.2
typed-ast==1.3.4
typeguard==2.10.0
typing-extensions==3.7.4.3
tzlocal==2.1
umap==0.1.1
umap-learn==0.4.4
unicodecsv==0.14.1
urllib3==1.24.2
validators==0.18.2
wasabi==0.6.0
watchdog==2.0.2
wcwidth==0.1.7
webencodings==0.5.1
Werkzeug==0.15.4
widgetsnbextension==3.5.0
wincertstore==0.2
wordcloud==1.7.0
wrapt==1.11.2
wurlitzer==1.0.2
xgboost==0.90
xlrd==1.2.0
XlsxWriter==1.1.8
xlwt==1.3.0
yellowbrick==1.0.1
zict==1.0.0
zipp==0.5.1
zope.interface==5.1.0
